

/* Import React and the CSS file */


.home-section-bg {
  position: relative;
  background-image: url('../asssets/IMG_0541.JPEG'); /* Update this path to where your image is located */
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: white; /* To make the text stand out */
  padding: 50px 0; /* Adjust as necessary */
}

.home-section-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Adjust the opacity to make it darker */
  z-index: 1;
}

/* Ensure text is above the overlay */
.home-section-bg > .container {
  position: relative;
  z-index: 2;
}

  
  .home-section-bg h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow to text for better readability */
  }
  
  .home-section-bg p {
    font-size: 1.2rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Optional: adds a shadow to text for better readability */
  }
  
  #featured-3 {
    max-width: 1200px; /* Adjust this value as needed */
    margin: 0 auto; /* Centers the section */
  }
  